<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="theme-color" content="#000000"/>
    <title>React App</title>
    <link href="css/2.6e9662d7.chunk.css" rel="stylesheet">
    <link href="css/main.f33cb647.chunk.css" rel="stylesheet">
</head>
<body>

<div>
    <div class="T1">
        <div><h1 class="T2">Welcome to Wordladder</h1></div>
            <div class="T3">
                <h1 class="T5">Begin:<span th:text="${begin}"></span></h1>
                <h1 class="T5">End:<span th:text="${end}"></span></h1>
                <h1 class="T5">Result:<span th:text="${result}"></span></h1>
            </div>
        <div class="T2"><a href="/">返回</a>
    </div>
</body>
</html>